@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,700');

@font-face {
  font-family: 'Euphemia';
  src: url('//db.onlinewebfonts.com/t/5c81010800152b142ea357ccbee8c40e.eot');
  src: url('//db.onlinewebfonts.com/t/5c81010800152b142ea357ccbee8c40e.eot?#iefix') format('embedded-opentype'),
      url('//db.onlinewebfonts.com/t/5c81010800152b142ea357ccbee8c40e.woff2') format('woff2'),
      url('//db.onlinewebfonts.com/t/5c81010800152b142ea357ccbee8c40e.woff') format('woff'),
      url('//db.onlinewebfonts.com/t/5c81010800152b142ea357ccbee8c40e.ttf') format('truetype'),
      url('//db.onlinewebfonts.com/t/5c81010800152b142ea357ccbee8c40e.svg#Euphemia') format('svg');
}


@font-face {
  font-family: 'Gadugi';
  src: url('//db.onlinewebfonts.com/t/3f3f1a887702b525cda01f7cd776b241.eot');
  src: url('//db.onlinewebfonts.com/t/3f3f1a887702b525cda01f7cd776b241.eot?#iefix') format('embedded-opentype'),
      url('//db.onlinewebfonts.com/t/3f3f1a887702b525cda01f7cd776b241.woff2') format('woff2'),
      url('//db.onlinewebfonts.com/t/3f3f1a887702b525cda01f7cd776b241.woff') format('woff'),
      url('//db.onlinewebfonts.com/t/3f3f1a887702b525cda01f7cd776b241.ttf') format('truetype'),
      url('//db.onlinewebfonts.com/t/3f3f1a887702b525cda01f7cd776b241.svg#Gadugi') format('svg');
}
