$color: #1bbc9b;
$color: #4caf50;
$color: #eaeeee;
$color: #2b8bad;
$color: #edebeb;
$color: #236b85;
$color: #176b89;
$color: #0b3544;
$color: #28a88e;
$color: #828080;
$color: #898686;
$color: #247997;
$color: #237c9b;
$color: #217998;
$color: #6e6e6e;
$color: #c3c0c0;
$color: #24b194;
$color: #427f95;
$color: #b0aeae;
$color: #267b99;
$color: #d20d24;
$color: #e51c23;
