@charset "UTF-8";
/****** Les propiretes CSS pour SDS
 Fait Par : Malnux Starck;
 ******/
/******************************* Par defaut *******************************/
/*******************************     CSS    ******************************/
@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,700");
@font-face {
  font-family: 'Euphemia';
  src: url("//db.onlinewebfonts.com/t/5c81010800152b142ea357ccbee8c40e.eot");
  src: url("//db.onlinewebfonts.com/t/5c81010800152b142ea357ccbee8c40e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5c81010800152b142ea357ccbee8c40e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5c81010800152b142ea357ccbee8c40e.woff") format("woff"), url("//db.onlinewebfonts.com/t/5c81010800152b142ea357ccbee8c40e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/5c81010800152b142ea357ccbee8c40e.svg#Euphemia") format("svg");
}

@font-face {
  font-family: 'Gadugi';
  src: url("//db.onlinewebfonts.com/t/3f3f1a887702b525cda01f7cd776b241.eot");
  src: url("//db.onlinewebfonts.com/t/3f3f1a887702b525cda01f7cd776b241.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3f3f1a887702b525cda01f7cd776b241.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3f3f1a887702b525cda01f7cd776b241.woff") format("woff"), url("//db.onlinewebfonts.com/t/3f3f1a887702b525cda01f7cd776b241.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3f3f1a887702b525cda01f7cd776b241.svg#Gadugi") format("svg");
}

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 a {
  display: block;
  color: white;
  font-family: 'Lucida Sans Unicode';
}

ul {
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  list-style-type: none;
}

li > a {
  display: block;
  width: 102px;
  height: 40px;
  color: white;
  font-family: Gadugi;
  font-size: 16px;
}

fieldset {
  width: 610px;
  margin-top: 20px;
  border: 1px solid #1bbc9b;
}

legend {
  width: 120px;
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #1bbc9b;
  font-family: 'Gadugi';
  line-height: 50px;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  display: block;
  width: 100%;
  height: 70px;
  margin: auto;
  background: #2b8bad;
}

header > div {
  display: inline-block;
  height: 70px;
  margin-right: 5%;
  vertical-align: top;
}

@media screen and (max-width: 1366px) {
  header > div {
    margin-right: 2%;
  }
}

header li {
  display: inline-block;
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.header-top {
  float: left;
  margin-left: 40px;
}

.header-top h1 {
  margin-top: 10px;
  font-family: Lucida;
  font-size: 35px;
}

.suscribe {
  float: right;
  margin-right: 40px;
}

.suscribe li {
  border: 2px solid white;
  border-radius: 2px;
}

.suscribe li a {
  display: block;
  width: 102px;
  height: 40px;
  color: white;
  font-family: Gadugi;
  font-size: 16px;
}

.form-content > div {
  display: inline-block;
  margin-top: 15px;
}

.input-search input {
  height: 30px;
  border: 0;
  border-bottom: 2px solid white;
  background: #2b8bad;
  color: white;
  font-size: 14px;
}

.button-search button {
  height: 30px;
  margin-left: -35px;
  border: 0;
  background: #2b8bad;
  cursor: pointer;
}

.button-search img {
  display: block;
}

/*****Membre connecter ****/
.cercle img {
  display: block;
  width: 35px;
  height: 35px;
  margin-top: 5px;
  margin-left: 7.5px;
}

.cercle .first {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: -5px;
  margin-right: 100px;
  border: 1px solid #edebeb;
  border-radius: 100%;
  background: #edebeb;
}

.cercle .first > a {
  display: block;
  width: 50px;
  height: 50px;
}

.cercle ul ul {
  visibility: hidden;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  transition: visibility .1s ease-out;
}

.cercle ul ul li {
  display: block;
  width: 150px;
  height: 40px;
  border: 1px solid green;
  color: yellow;
  text-align: center;
}

.cercle ul ul li a {
  display: block;
  display: block;
  width: 150px;
  height: 40px;
  color: green;
  text-align: center;
}

.cercle ul li:hover > ul {
  z-index: 500;
  visibility: visible;
  float: left;
  transition: all .8s;
}

footer {
  width: 100%;
  height: 300px;
  background: #2b8bad;
}

footer h2 {
  margin-top: 0;
  color: white;
  font-family: Gadugi;
  font-size: 23px;
  font-style: underline;
  font-weight: bold;
  text-align: center;
}

footer > div {
  display: inline-block;
  width: 28%;
  height: 200px;
  margin-top: 20px;
  margin-left: 2.8%;
  padding: 10px;
  vertical-align: top;
}

footer div > p {
  margin-top: -20px;
  padding: 10px;
  font-family: Euphemia;
  font-size: 18px;
}

footer > p {
  height: 50px;
  margin-bottom: 0;
  background: #267b99;
  color: white;
  font-family: Euphemia;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
}

footer ul {
  width: 25%;
  margin: auto;
}

footer li {
  width: 120px;
}

footer li a {
  display: block;
  width: 120px;
  color: blue;
  line-height: 35px;
  text-align: center;
}

.categorie-nom {
  display: block;
  height: 50px;
  margin-top: 0;
  background: #2b8bad;
  font-family: Euphemia;
}

.categorie-nom span {
  display: inline-block;
  height: 50px;
  margin-left: 5px;
  color: white;
  font-size: 23px;
  line-height: 45px;
  text-align: center;
  vertical-align: top;
}

.cat {
  display: block;
  margin: 4px;
}

.listesforums p {
  display: inline-block;
  height: 69px;
  margin-top: 0;
  vertical-align: top;
}

.listesforums p span {
  display: block;
  height: 31px;
}

.forums {
  display: inline-block;
  width: 850px;
  margin-right: 10px;
  vertical-align: top;
}

.forums span {
  font-family: Gadugi;
}

.pageforum {
  width: 1150px;
}

.forum ul {
  margin-top: 0;
}

.forum li {
  height: 70px;
  margin-top: 15px;
  background: #edebeb;
}

.forumlogo {
  width: 35px;
  margin-left: 5px;
}

.forumlogo img {
  display: block;
  margin-top: 8px;
  margin-left: 3px;
}

.infosforum, .nombremessages, .derniermessagef, .nombresujets {
  margin-top: 1px;
  margin-left: 5px;
}

.infosforum span {
  padding-right: 5px;
  padding-left: 5px;
}

.infosforum {
  width: 360px;
}

.infosforum span:nth-child(2) {
  overflow: hidden;
  color: #217998;
}

.infosforum span:nth-child(1) a {
  display: block;
  color: #217998;
  font-family: Euphemia;
  font-size: 20px;
  font-weight: bold;
}

.nombremessages, .derniermessage, .nombresujets {
  margin-left: 10px;
}

.nombremessages, .nombresujets {
  color: #217998;
  text-align: center;
}

.nombremessages, .nombresujets {
  width: 60px;
  font-weight: bold;
}

.derniermessage span:nth-child(1), .derniermessagef span:nth-child(1) {
  color: #247997;
  font-size: 20px;
}

.infossujet span:nth-child(2) a, .derniermessage span:nth-child(2) a, .derniermessagef a {
  color: #1bbc9b;
}

.derniermessagef {
  width: 265px;
}

.statistique {
  display: inline-block;
  width: 250px;
  font-family: Euphemia;
  vertical-align: top;
}

.stat-entete {
  display: block;
  width: 250px;
  height: 50px;
  margin-top: 16px;
  background: #2b8bad;
  color: white;
  font-family: Gadugi;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
}

.statistique > div {
  padding: 5px;
  padding-top: 0;
  background: #edebeb;
}

.ajoutami {
  width: 230px;
}

.ajoutami a {
  display: block;
  width: auto;
}

.fildariane {
  display: block;
  width: 100%;
  height: 35px;
  border-bottom: 3px solid #1bbc9b;
}

.fildariane ul {
  display: block;
  width: auto;
  height: 35px;
  margin-top: 0;
}

.fildariane li {
  display: inline-block;
  width: auto;
  width: auto;
  height: 35px;
  margin-right: 10px;
  margin-left: 10px;
  line-height: 35px;
  vertical-align: top;
}

.fildariane a, .fildariane span {
  display: block;
  width: auto;
  height: 35px;
  color: #2b8bad;
  font-family: Gadugi;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
}

.presentation {
  display: inline-block;
  width: 450px;
  height: 220px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 4px solid #2b8bad;
  background: #eaeeee;
  vertical-align: top;
}

.presentation-text {
  padding: 10px;
  padding-top: 0;
  color: #1bbc9b;
  font-family: Gadugi;
  font-size: 18px;
}

.presentation a {
  display: block;
  color: white;
}

.presentation span {
  display: inline-block;
  width: 120px;
  height: 40px;
  background: #1bbc9b;
  font-family: Gadugi;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}

label span {
  display: block;
  color: white;
  font-family: Gadugi;
  line-height: 40px;
  text-align: center;
}

.input, .checkbox, .submit, .select {
  display: block;
  margin: 20px;
}

.input img {
  display: block;
  padding: 10px;
  padding-left: 16px;
}

.input input {
  display: inline-block;
  width: 500px;
  height: 40px;
  margin-left: -4px;
  border: 1px solid #edebeb;
  background: #edebeb;
  color: #176b89;
  font-family: Euphemia;
  font-size: 18px;
  text-align: center;
  vertical-align: top;
}

.input-tuto input {
  width: 680px;
}

.textarea {
  padding: 20px;
  padding-top: 0;
}

.textarea textarea {
  width: 560px;
  height: 120px;
  border: 1px solid #edebeb;
  background: #edebeb;
  color: #176b89;
  font-family: Euphemia;
}

.textarea-tuto textarea {
  width: 740px;
  height: 180px;
}

.input label {
  display: inline-block;
  width: 60px;
  height: 43px;
  background: #1bbc9b;
  vertical-align: top;
}

.checkbox input {
  display: inline-block;
  width: 30px;
  height: 40px;
  background: #edebeb;
  vertical-align: top;
}

.checkbox label {
  display: inline-block;
  width: 200px;
  height: 40px;
  color: #176b89;
  font-size: 20px;
  line-height: 41px;
  vertical-align: top;
}

.select select {
  width: 200px;
  height: 30px;
  border: 1px solid #edebeb;
  background: #edebeb;
  color: #176b89;
  font-size: 16px;
}

.submit input {
  width: 570px;
  height: 43px;
  border: 1px solid #1bbc9b;
  background: #1bbc9b;
  color: white;
  font-family: Euphemia;
  font-size: 20px;
  cursor: pointer;
}

.submit-tuto input {
  float: right;
  width: 150px;
  margin-right: 20px;
}

.apresformulaire {
  width: 550px;
  margin: auto;
  margin-bottom: 50px;
  font-size: 20px;
}

.apresformulaire a {
  display: inline-block;
  width: 200px;
  font-size: 18px;
}

.nouveau-sujet {
  width: 180px;
  height: 45px;
  margin: 30px;
  background: #1bbc9b;
}

.nouveau-sujet:hover {
  background: #28a88e;
}

.nouveau-sujet a, .nouveau-sujet img {
  display: inline-block;
  color: white;
  vertical-align: top;
}

.nouveau-sujet a {
  height: 44px;
  margin-left: 5px;
  font-family: Gadugi;
  font-size: 16px;
  line-height: 43px;
  text-align: center;
}

.nouveau-sujet img {
  padding: 12.5px;
}

.alert-success, .alert-danger {
  width: auto;
  margin-top: 10px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  border-radius: 3px;
  color: white;
  font-family: Arial;
}

.alert-success {
  background-color: #4caf50;
}

.alert-danger {
  background-color: #e51c23;
}

.page {
  display: block;
  width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  font-family: Ubuntu;
}

/***** pour le menu ***/
.fleche {
  display: inline-block;
  width: 18px;
  padding: 8.5px;
  padding-right: 0;
  padding-left: 0;
  vertical-align: top;
}

.titre {
  color: #184b5d;
  font-family: Gadugi;
  font-size: 35px;
  text-align: center;
}

.formulaire {
  width: 620px;
  margin: auto;
  padding: auto;
}

/* Concerne en majorité la partie tutoriels */
.formulaire-tuto {
  display: inline-block;
  width: 800px;
  margin-bottom: 20px;
}

.formulaire-edition {
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: top;
}

.modification {
  display: inline-block;
  width: 250px;
  height: 300px;
  vertical-align: top;
}

.modification ul {
  display: block;
  height: 200px;
  margin-top: 10px;
  padding-right: 10px;
  background: #edebeb;
}

.modification li {
  display: block;
  width: 200px;
  height: 40px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.modification li a {
  display: block;
  width: 200px;
  height: 40px;
  color: #1bbc9b;
  line-height: 40px;
  text-align: center;
}

.modification-entete {
  display: block;
  width: 250px;
  height: 50px;
  margin-top: 20px;
  background: #236b85;
  color: white;
  font-family: Gadugi;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
}

.titre-partie {
  font-size: 18px;
}

.partie-text {
  overflow: auto;
  width: auto;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  background: #edebeb;
}

.partie-text ul {
  display: block;
  float: right;
  height: 50px;
  margin-top: -10px;
}

.partie-text li {
  display: inline-block;
  background: #1bbc9b;
}

.partie-text a {
  display: block;
  background: #1bbc9b;
  color: white;
  line-height: 35px;
  text-align: center;
}

.partie-text img, .partie-text span {
  display: inline-block;
  margin: 2px;
  vertical-align: bottom;
}

.partie-text img {
  padding: 8px;
}

.partie-text p {
  clear: both;
  font-family: Euphemia;
  font-size: 16px;
}

/*presentation des tutoriels */
.tutos {
  display: inline-block;
  width: 300px;
  height: 350px;
  margin-bottom: 20px;
  margin-left: 30px;
  background: #edebeb;
}

.banniere span, .banniere img {
  display: block;
}

.mestutos {
  height: 380px;
}

.titre-tuto {
  width: auto;
  font-family: 'Gadugi';
  font-size: 16px;
  text-align: center;
}

.titre-tuto a {
  display: block;
  color: #0b3544;
}

.tutos-infos span {
  display: inline-block;
  margin-left: 20px;
  padding: 3px;
  font-family: 'Gadugi';
  font-size: 17px;
}

.tutos-infos .cat-tuto {
  float: right;
  margin-right: 10px;
  color: #d20d24;
}

.tutos-infos .auteur-tuto {
  float: left;
  margin-left: 10px;
}

.auteur-tuto a {
  color: #1bbc9b;
}

.edit-btn {
  width: 100px;
  height: 30px;
  background: #1bbc9b;
}

.edit-btn a {
  display: block;
  height: 30px;
  color: white;
  font-family: Gadugi;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
}

/*bouton pour cree */
/*Lecture de tutoriels */
.liretuto {
  width: 700px;
  margin-top: 30px;
}

.liretuto section {
  font-family: Euphemia;
}

.liretutoTitre {
  display: inline-block;
  width: 600px;
  height: 58px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 1px solid #edebeb;
  border-bottom: 2px solid #828080;
  background: #edebeb;
  font-size: 23px;
  line-height: 50px;
  vertical-align: top;
}

.liretutoTitre a {
  color: #1bbc9b;
}

.logo {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: top;
}

.logo img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 1px;
}

.liretutoAut {
  display: inline-block;
  height: 60px;
  margin-top: 10px;
  margin-left: 5px;
  color: black;
  vertical-align: top;
}

.liretutoAut a {
  display: inline-block;
  margin-left: 3px;
  color: #1bbc9b;
  font-weight: bold;
  line-height: 60px;
  text-decoration: underline;
  vertical-align: top;
}

.liretutoAut img {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 3px;
  vertical-align: top;
}

.liretuto-partie-titre {
  border-bottom: 1px solid;
  color: #1bbc9b;
  font-size: 20px;
}

/******* Espace de membre ******/
.membre {
  width: 700px;
}

.entetemembre, .infosmembre, .signature {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
}

.avatar, .membre-ins {
  display: inline-block;
  margin-left: 20px;
  vertical-align: bottom;
}

.avatar img, .badge {
  display: block;
}

.badge {
  height: 40px;
  background: #1bbc9b;
  color: white;
  font-family: Euphemia;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
}

.membre-ins h4 {
  color: #1bbc9b;
}

.membre-edit {
  display: block;
  width: 100px;
  height: 40px;
}

.membre-edit a {
  display: block;
  width: 100px;
  height: 40px;
  border: 2px solid #1bbc9b;
  color: #1bbc9b;
  line-height: 40px;
  text-align: center;
}

.membre-ins {
  color: #2b8bad;
  font-family: 'Arial';
  font-size: 16px;
}

.infosmembre li {
  display: block;
  height: 40px;
  font-family: Gadugi;
  font-size: 16px;
}

.libele {
  display: inline-block;
  width: 120px;
  margin-right: 10px;
  font-weight: bold;
}

.infos-content {
  display: inline-block;
  color: #2b8bad;
}

.signature {
  height: auto;
  padding: 10px;
  border: 0;
  border-top: 2px solid #898686;
  border-bottom: 2px solid #898686;
  font-family: Gadugi;
  font-size: 18px;
}

.pagination {
  margin-left: 20px;
}

.pagination strong {
  display: inline-block;
  width: 35px;
  height: 30px;
  margin-left: 10px;
  border-bottom: 3px solid #1bbc9b;
  background: #1bbc9b;
  color: white;
  font-family: Euphemia;
  line-height: 30px;
  text-align: center;
}

.pagination a {
  display: inline-block;
  width: 35px;
  height: 30px;
  margin-left: 10px;
  border: 1px solid #1bbc9b;
  border-bottom: 3px solid #1bbc9b;
  background: white;
  color: #1bbc9b;
  font-family: Euphemia;
  line-height: 30px;
  text-align: center;
}

/*********** Forumm **** ************/
.sujet {
  height: 70px;
  margin-bottom: 20px;
  background: #edebeb;
  font-family: Gadugi;
}

.sujet p {
  display: inline-block;
  height: 70px;
  margin-top: 0;
  margin-right: 5px;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: bottom;
}

.avatar_createur img {
  display: block;
  height: 50px;
  margin: 8px;
}

.vues, .messages {
  width: 90px;
}

.infossujet {
  width: 300px;
}

.infossujet span, .derniermessage span {
  display: block;
  overflow: hidden;
  height: 35px;
}

.infossujet span:nth-child(1) a {
  color: #247997;
  font-family: Gadugi;
  font-size: 24px;
}

.infossujet span:nth-child(2) i {
  color: #237c9b;
}

.vues span, .messages span {
  display: inline-block;
  width: 20px;
  height: 70px;
  line-height: 62px;
  text-align: center;
  vertical-align: top;
}

.vues img, .messages img {
  display: block;
  margin-top: 20px;
}

.typesujet {
  display: inline-block;
  float: right;
  margin-top: 0;
  padding: 2px;
  border: 1px solid;
  background: #1bbc9b;
  color: white;
  vertical-align: top;
}

/*Accueil Forum ***/
.derniermessage {
  width: 330px;
}

/**** Voir un sujet (Topic) **/
.lesujet {
  display: block;
}

.membresujet, .contenu-message {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  font-family: Euphemia;
  vertical-align: top;
}

.membresujet {
  width: 80px;
  height: auto;
  border: 1px solid #6e6e6e;
  background: #edebeb;
}

.membresujet > .badgef {
  display: block;
  height: 30px;
  color: white;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.membresujet img {
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 9px;
  margin-left: 9px;
}

.contenu-message {
  width: 630px;
  height: auto;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-top: 2px solid #c3c0c0;
  border-bottom: 2px solid #c3c0c0;
  background: #edebeb;
}

.lienmod, .top-messagef {
  display: inline-block;
  vertical-align: top;
}

.lienmod {
  float: right;
  width: 240px;
  margin-right: -20px;
}

.lienmod ul {
  display: block;
  width: 240px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.lienmod li {
  display: inline-block;
  width: 100px;
  height: 40px;
  margin-left: 2px;
  background: #1bbc9b;
}

.lienmod a {
  display: block;
  background: #1bbc9b;
  color: white;
  line-height: 35px;
  text-align: center;
}

.lienmod img, .lienmod span {
  display: inline-block;
  margin: 3px;
  color: white;
  vertical-align: top;
}

.lienmod img {
  padding-top: 7px;
}

.top-messagef {
  margin: 0;
  padding: 0;
}

.top-messagef a, .top-messagef span {
  display: inline-block;
  color: #1bbc9b;
  vertical-align: top;
}

.lemessage, .signatureforum {
  display: block;
  margin-top: 10px;
}

.signatureforum {
  overflow: hidden;
  width: 610px;
  padding-right: 10px;
  padding-left: 10px;
  border-top: 2px solid #c3c0c0;
}

.touslesmessages, .administrationf {
  display: inline-block;
  vertical-align: top;
}

.administrationf {
  width: 230px;
  height: 150px;
  height: auto;
  margin-left: 10px;
}

.administrationf ul {
  width: 230px;
  height: auto;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  background: #edebeb;
}

.administrationf li {
  display: block;
  width: 230px;
  height: 40px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.adminf-entete {
  width: 230px;
  height: 40px;
  line-height: 40px;
}

.administrationf li span {
  width: 100px;
  color: #24b194;
  line-height: 38px;
  text-align: center;
}

.administrationf li a {
  height: 40px;
  color: #24b194;
}

.administrationf li span, .administrationf img {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}

.administrationf img {
  margin-top: 8px;
}

/******* Social ******/
.gestionac, .fil {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  font-family: Gadugi;
  vertical-align: top;
}

.gestionac, .gestionac ul {
  width: 200px;
}

.gestionac ul {
  width: 200px;
  margin: 0;
  padding: 0;
}

.pseudoso {
  font-family: Gadugi;
  font-size: 20px;
  text-align: center;
}

.pseudoso a {
  display: block;
  color: #24b194;
}

.actual h3, .lgroupes h3 {
  height: 30px;
  border: 1px solid;
  background: #427f95;
  color: white;
  font-family: Euphemia;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.lgroupes li, .actual li {
  display: block;
  overflow: hidden;
  width: 200px;
  height: 35px;
  border-bottom: 1px solid #b0aeae;
  color: #24b194;
  line-height: 30px;
  text-align: center;
}

.lgroupes li a, .actual li a {
  display: block;
  width: 200px;
  height: 35px;
  color: #24b194;
  text-align: center;
}

.lgroupes h3 a {
  display: block;
  color: white;
}

.fichierEtsubmit, .avatarEtstatut {
  display: block;
}

.fichierEtsubmit input {
  width: 117px;
  height: 35px;
  margin-left: 190px;
  border: 1px solid #1bbc9b;
  background: #1bbc9b;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.avatarsocial img {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.avatarsocial, .textarea-soc, .fichier, .submit-statut {
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
}

/*# sourceMappingURL=style.css.map */
