.fildariane {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #1bbc9b;
  color: #2b8bad;
  font-family: Gadugi;

  li {
    margin: 0 10px;

    &:not(:last-child) {
      position: relative;
      padding-right: 10px;

      &::after {
        position: absolute;
        top: 0;
        right: -15px;
        transform: translateY(2px);
        content: url('../images/icones/fleche.png');
      }
    }
  }

  a {
    display: inline;
    color: inherit;
  }

  span {
    color: #000;
  }
}
