.pagination {
  margin-left: 20px;

  strong {
    display: inline-block;
    width: 35px;
    height: 30px;
    margin-left: 10px;
    border-bottom: 3px solid #1bbc9b;
    background: #1bbc9b;
    color: white;
    font-family: Euphemia;
    line-height: 30px;
    text-align: center;
  }

  a {
    display: inline-block;
    width: 35px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid #1bbc9b;
    border-bottom: 3px solid #1bbc9b;
    background: white;
    color: #1bbc9b;
    font-family: Euphemia;
    line-height: 30px;
    text-align: center;
  }
}
