.presentation {
  display: inline-block;
  width: 450px;
  height: 220px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 4px solid #2b8bad;
  background: #eaeeee;
  vertical-align: top;

  &-text {
    padding: 10px;
    padding-top: 0;
    color: #1bbc9b;
    font-family: Gadugi;
    font-size: 18px;
  }

  a {
    display: block;
    color: white;
  }

  span {
    display: inline-block;
    width: 120px;
    height: 40px;
    background: #1bbc9b;
    font-family: Gadugi;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
  }
}
